<div class="toolbar" role="banner">
  <span>Welcome to our new app</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="greetings-title">
    <span>Please insert your name and press the following button  </span>
    <input type="text" placeholder="Please insert your name" (input)="userName = $event.target.value">
  </div>
  <div class="greetings-button">
    <button (click)="greetings()">SAY HELLO</button>
  </div>

  <div *ngIf="greetingText | async as Greeting">
    <p> Your id is : {{ Greeting.id }}  </p>
    <p> And {{ Greeting.content }} is our response </p>
  </div>

</div>

<router-outlet></router-outlet>