.toolbar {
    padding-left: 20px;
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.greetings-title {
    flex-grow: 1;
}

.greetings-button {
    flex-grow: 1;   
    padding-top: 20px;
}